<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

  </ion-card>
  <ion-card>
    <ion-img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b6edf66-34c7-4f96-b7c4-b01b89515e90/dbli5i3-2a280762-9e4d-4978-8841-a8f0925d838d.png/v1/fill/w_200,h_350,strp/goku__super_saiyan_god__by_hirus4drawing_dbli5i3-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzUwMCIsInBhdGgiOiJcL2ZcLzRiNmVkZjY2LTM0YzctNGY5Ni1iN2M0LWIwMWI4OTUxNWU5MFwvZGJsaTVpMy0yYTI4MDc2Mi05ZTRkLTQ5NzgtODg0MS1hOGYwOTI1ZDgzOGQucG5nIiwid2lkdGgiOiI8PTIwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.1J-7jZlJvvmrIIgvklL-woUb0Rs3nHdzzCPstkESdS0"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </ion-card>

<ion-item>
  <ion-label color="dark">Olá Sayaing you rading?</ion-label>
</ion-item>


  <ion-card>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-label>E-mail:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input type="senha" formControlName="senha"></ion-input>
      </ion-item>

    </form>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full">
            htfdsg
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">
            htfdsg
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>