<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    
  </ion-card>


  <ion-card>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-label>E-mail:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha:</ion-label>
       <ion-input type="senha" formControlName="senha"></ion-input>
      </ion-item>
     
    </form>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Block</ion-button>

          <ion-button>
            Right Icon
            <ion-icon slot="end"></ion-icon>
          </ion-button>

          <ion-button>
            <ion-icon slot="start"></ion-icon>
            Left Icon
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>